
  

  <div class="sidenav">
    <div class="login-main-text">
       <h2>Bem Vindo ao Meu Sistema<br> Login Page</h2>
       <p>Login or register from here to access.</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
          <form>
             <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Enter Email" name="email" required [(ngModel)]="usuarioCadastroLocal.email">
             </div>
             <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Enter Password" name="psw" required [(ngModel)]="usuarioCadastroLocal.senha">
             </div>
             <button *ngIf="!entrou" type="button" class="btn btn-black" type="submit" (click)="entrarSistema()">
                Entrar no Sistema
              </button>
             <button *ngIf="!entrou" type="button" class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#modalCadastrarNovoUsuario">
                Cadastrar Novo Usuário
              </button>
          </form>
       </div>
    </div>
 </div>

  <div #modalCadastrarNovoUsuario class="modal fade" id="modalCadastrarNovoUsuario" tabindex="-1" aria-labelledby="exampleModalCadastrarUsuario" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cadastrar Novo Usuario:</h5>
        </div>
        <div class="modal-body" id="scroll">
          <div class="bg-img2">
              <h1>Cadastrar</h1>
              <label ><b>Informe o seu Nome Completo:</b></label>
              <input type="text" class="form-control" name="nome" placeholder="Enter Nome Completo" value="" [(ngModel)]="usuarioCadastroLocal.nomeCompleto">              
              <label ><b>Informe o seu RG:</b></label>
              <input type="text" class="form-control" placeholder="Enter RG" name="rg" required for="usuarioCadastro.rg" [(ngModel)]="usuarioCadastroLocal.rg">

              <label ><b>Informe o seu CPF:</b></label>
              <input type="text" class="form-control" placeholder="Enter CPF" name="cpf" required [(ngModel)]="usuarioCadastroLocal.cpf">
          
              <label ><b>Informe o Email:</b></label>
              <input type="text" class="form-control" placeholder="Enter Email" name="email" required [(ngModel)]="usuarioCadastroLocal.email">
          
              <label><b>Informe sua Senha:</b></label>
              <input type="password" class="form-control" placeholder="Enter Password" name="psw" required [(ngModel)]="usuarioCadastroLocal.senha">
          </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="cadastrarUsuario()" data-bs-dismiss="modal">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>