<!-- routerLink="/meuCarrinho" <a class="nav-link active" routerLink="/catalogoProduto">Página de Login</a> -->
<div class="bg-img">
  <div class="container">
    <div class="topnav">
      <a routerLink="/homePage">Página Inicial</a>
      <a routerLink="/meuCarrinho">Meu Carrinho</a>
      <a routerLink="/catalogoProduto">Catalogo de Produtos</a>
      <a routerLink="/desenvolvedor">Desenvolvedor</a>
      <a routerLink="/desenvolvedor">Sobre o Site</a>
    </div>
  </div>
</div> 



<div id="mySidenav" class="sidenav">
  <a href="#" id="about">About</a>
  <a href="#" id="blog">Blog</a>
  <a href="#" id="projects">Projects</a>
  <a href="#" id="contact">Contact</a>
</div> 
<router-outlet></router-outlet>