
<nav class="nav navbar navbar-dark bg-dark">
  <a class="nav-link active" routerLink="/catalogoProduto">Página de Login</a>
  <a class="nav-link" routerLink="/meuCarrinho" >Meu Carrinho</a>
</nav>

<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    
  </div>
</nav>

<router-outlet></router-outlet>